In [1]:
""" 匯入函式庫，讀取題目給的資料 """
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# 此次的重點函示庫
from scipy import stats

statistic_data = pd.read_csv('statistic_data.csv')
statistic_data.info

<bound method DataFrame.info of      101  1  2  2.1  1.1  1.2  5  0  2.2  4  4.1  4.2  4.3  4.4  4.5  2.3  \
0    102  1  1    3    1    2  4  1    2  2    4    4    4    5    3    3
1    103  1  2    1    1    1  5  0    2  5    4    5    4    4    4    1
2    104  1  2    3    1    2  1  1    3  3    1    1    2    3    2    3
3    105  1  1    2    1    1  2  0    3  3    5    5    5    4    4    2
4    106  1  2    3    1    2  4  1    3  2    4    4    3    4    5    3
..   ... .. ..  ...  ...  ... .. ..  ... ..  ...  ...  ...  ...  ...  ...
216  805  2  2    2    1    1  1  0    1  3    3    4    4    4    3    2
217  806  2  1    2    1    1  4  1    2  2    4    4    4    4    4    2
218  807  2  2    2    1    1  3  0    3  3    3    4    5    4    3    2
219  808  2  1    1    1    1  6  1    1  3    4    5    4    4    4    1
220  809  2  1    4    1    2  2  0    3  4    4    4    3    3    2    3

     1.3  3.67
0      1  3.50
1      1  4.00
2      1  2.17
3      1  4.17
4      1  3.33
..   ...   ...
216    1  3.17
217    1  3.33
218    1  3.67
219    1  3.50
220    1  3.50

[221 rows x 18 columns]>

In [2]:
""" 命名data colunms """

statistic_data.columns=['userId','company','sex','age','Area','marriage','Use_time','Update','Q1','Q2','Q3','Q4','Q5','Q6','Loyalty','AGE1','AREA1','avg']
statistic_data.info

<bound method DataFrame.info of      userId  company  sex  age  Area  marriage  Use_time  Update  Q1  Q2  Q3  \
0       102        1    1    3     1         2         4       1   2   2   4
1       103        1    2    1     1         1         5       0   2   5   4
2       104        1    2    3     1         2         1       1   3   3   1
3       105        1    1    2     1         1         2       0   3   3   5
4       106        1    2    3     1         2         4       1   3   2   4
..      ...      ...  ...  ...   ...       ...       ...     ...  ..  ..  ..
216     805        2    2    2     1         1         1       0   1   3   3
217     806        2    1    2     1         1         4       1   2   2   4
218     807        2    2    2     1         1         3       0   3   3   3
219     808        2    1    1     1         1         6       1   1   3   4
220     809        2    1    4     1         2         2       0   3   4   4

     Q4  Q5  Q6  Loyalty  AGE1  AREA1   avg
0     4   4   5        3     3      1  3.50
1     5   4   4        4     1      1  4.00
2     1   2   3        2     3      1  2.17
3     5   5   4        4     2      1  4.17
4     4   3   4        5     3      1  3.33
..   ..  ..  ..      ...   ...    ...   ...
216   4   4   4        3     2      1  3.17
217   4   4   4        4     2      1  3.33
218   4   5   4        3     2      1  3.67
219   5   4   4        4     1      1  3.50
220   4   3   3        2     3      1  3.50

[221 rows x 18 columns]>

In [3]:
""" 假設性別會影響平均滿意度 """

men = statistic_data.loc[statistic_data['sex']==1]
women = statistic_data.loc[statistic_data['sex']==2]
print(men)
print(women)

     userId  company  sex  age  Area  marriage  Use_time  Update  Q1  Q2  Q3  \
0       102        1    1    3     1         2         4       1   2   2   4
3       105        1    1    2     1         1         2       0   3   3   5
7       109        1    1    2     1         1         3       1   3   3   3
8       110        1    1    3     1         2         6       1   3   2   4
9       111        1    1    5     1         2         2       1   4   2   4
..      ...      ...  ...  ...   ...       ...       ...     ...  ..  ..  ..
208     707        2    1    3     3         2         5       1   2   4   4
211     710        2    1    5     3         2         3       1   1   4   3
217     806        2    1    2     1         1         4       1   2   2   4
219     808        2    1    1     1         1         6       1   1   3   4
220     809        2    1    4     1         2         2       0   3   4   4

     Q4  Q5  Q6  Loyalty  AGE1  AREA1   avg
0     4   4   5        3     3      1  3.50
3     5   5   4        4     2      1  4.17
7     3   3   5        4     2      1  3.33
8     4   4   5        4     3      1  3.67
9     4   4   4        5     3      1  3.67
..   ..  ..  ..      ...   ...    ...   ...
208   4   4   4        4     3      3  3.67
211   4   4   4        3     3      3  3.33
217   4   4   4        4     2      1  3.33
219   5   4   4        4     1      1  3.50
220   4   3   3        2     3      1  3.50

[103 rows x 18 columns]
     userId  company  sex  age  Area  marriage  Use_time  Update  Q1  Q2  Q3  \
1       103        1    2    1     1         1         5       0   2   5   4
2       104        1    2    3     1         2         1       1   3   3   1
4       106        1    2    3     1         2         4       1   3   2   4
5       107        1    2    2     1         1         2       0   3   2   4
6       108        1    2    2     1         1         3       0   3   5   3
..      ...      ...  ...  ...   ...       ...       ...     ...  ..  ..  ..
213     802        2    2    2     1         1        18       0   1   4   4
214     803        2    2    1     1         1        13       1   2   2   3
215     804        2    2    1     1         1         2       1   2   3   4
216     805        2    2    2     1         1         1       0   1   3   3
218     807        2    2    2     1         1         3       0   3   3   3

     Q4  Q5  Q6  Loyalty  AGE1  AREA1   avg
1     5   4   4        4     1      1  4.00
2     1   2   3        2     3      1  2.17
4     4   3   4        5     3      1  3.33
5     4   3   3        3     2      1  3.17
6     4   4   3        3     2      1  3.67
..   ..  ..  ..      ...   ...    ...   ...
213   4   4   4        4     2      1  3.50
214   4   4   3        3     1      1  3.00
215   3   3   3        4     1      1  3.00
216   4   4   4        3     2      1  3.17
218   4   5   4        3     2      1  3.67

[118 rows x 18 columns]

In [4]:
# 假設性別與平均評分有相關
# H0 : 性別與平均評分不相關 (兩群的分佈是相似)
# H1 : 性別與平均評分相關
# 信心水準 : 95%
# T-test
men_avg = []
women_avg = []

for user in men.userId.unique():
    score = men.loc[men["userId"]==user,"avg"].values
    np.append(men_avg,score)
    men_avg.append([score])
men_avg = np.array(men_avg)
men_std = np.std(men_avg)
men_avg = np.mean(men_avg)
print("分數平均 (男) : ",men_avg)
print("標準差 (男) : ",men_std)


for user in women.userId.unique():
    score = women.loc[women["userId"]==user,"avg"].values
    women_avg.append([score])
women_avg = np.array(women_avg)
women_std = np.std(women_avg)
women_avg = np.mean(women_avg)
print("分數平均 (女) : ",women_avg)
print("標準差 (女) : ",women_std)

nobs1 = men['userId'].nunique()
nobs2 = women['userId'].nunique()
print(nobs1)
print(nobs2)

modified_std1 = np.sqrt(np.float32(nobs1)/np.float32(nobs1-1)) * men_std
modified_std2 = np.sqrt(np.float32(nobs2)/np.float32(nobs2-1)) * women_std

(statistic, pvalue) = stats.ttest_ind_from_stats(mean1=men_avg, std1=modified_std1, nobs1=nobs1, mean2=women_avg, std2=modified_std2, nobs2=nobs2)

print()
print ("t statistic is: ", statistic)
print ("pvalue is: ", pvalue)
print()

if(pvalue > 0.05):
    print("pvalue > 0.05 沒有在信心水準內，無法拒絕H0，故推論性別與平均分數沒有相關")
else:
    print("pvalue < 0.05 在信心水準內，拒絕H0，故推論性別與平均分數相關")

分數平均 (男) :  3.667087378640777
標準差 (男) :  0.3673379203196682
分數平均 (女) :  3.586440677966102
標準差 (女) :  0.4526991095297536
103
118

t statistic is:  1.434226622815177
pvalue is:  0.15293393749009948

pvalue > 0.05 沒有在信心水準內，無法拒絕H0，故推論性別與平均分數沒有相關

In [5]:
# 觀察性別與結婚與否的關係
# H0 : 性別與結婚不相關 (兩群的分佈是相似)
# H1 : 性別與結婚相關
# 信心水準 : 95%
# Pearson's chi-squared test

# 將性別分類，並計算當中有多少人有結婚，多少未婚
men_marriage=0
men_not_marriage=0
for user in men.userId.unique():
    if men.loc[men["userId"]==user,"marriage"].values == 1:
        men_marriage=men_marriage +1
    else:
        men_not_marriage = men_not_marriage+1

women_marriage=0
women_not_marriage=0
for user in women.userId.unique():
    if women.loc[women["userId"]==user,"marriage"].values == 1:
        women_marriage=women_marriage +1
    else:
        women_not_marriage = women_not_marriage+1

        
print(men_marriage)
print(men_not_marriage)
print(women_marriage)
print(women_not_marriage)

T = np.array([
                [65,78],
                [38,40]
])

chi2, p, dof, ex = stats.chi2_contingency(T, correction=False)
print("Chi-Square Test: ",chi2)
print("Dof: ",dof)
print("pvalue is: ",p)
if(p > 0.05):
    print("pvalue > 0.05 沒有在信心水準內，無法拒絕H0，故推論性別與結婚沒有相關")
else:
    print("pvalue < 0.05 在信心水準內，拒絕H0，故推論性別與結婚相關")

65
38
78
40
Chi-Square Test:  0.21599573154616727
Dof:  1
pvalue is:  0.6421080558287791
pvalue > 0.05 沒有在信心水準內，無法拒絕H0，故推論性別與結婚沒有相關

In [6]:
married = statistic_data.loc[statistic_data['marriage']==1]
not_married = statistic_data.loc[statistic_data['marriage']==2]
print(married)
print(not_married)

     userId  company  sex  age  Area  marriage  Use_time  Update  Q1  Q2  Q3  \
1       103        1    2    1     1         1         5       0   2   5   4
3       105        1    1    2     1         1         2       0   3   3   5
5       107        1    2    2     1         1         2       0   3   2   4
6       108        1    2    2     1         1         3       0   3   5   3
7       109        1    1    2     1         1         3       1   3   3   3
..      ...      ...  ...  ...   ...       ...       ...     ...  ..  ..  ..
215     804        2    2    1     1         1         2       1   2   3   4
216     805        2    2    2     1         1         1       0   1   3   3
217     806        2    1    2     1         1         4       1   2   2   4
218     807        2    2    2     1         1         3       0   3   3   3
219     808        2    1    1     1         1         6       1   1   3   4

     Q4  Q5  Q6  Loyalty  AGE1  AREA1   avg
1     5   4   4        4     1      1  4.00
3     5   5   4        4     2      1  4.17
5     4   3   3        3     2      1  3.17
6     4   4   3        3     2      1  3.67
7     3   3   5        4     2      1  3.33
..   ..  ..  ..      ...   ...    ...   ...
215   3   3   3        4     1      1  3.00
216   4   4   4        3     2      1  3.17
217   4   4   4        4     2      1  3.33
218   4   5   4        3     2      1  3.67
219   5   4   4        4     1      1  3.50

[143 rows x 18 columns]
     userId  company  sex  age  Area  marriage  Use_time  Update  Q1  Q2  Q3  \
0       102        1    1    3     1         2         4       1   2   2   4
2       104        1    2    3     1         2         1       1   3   3   1
4       106        1    2    3     1         2         4       1   3   2   4
8       110        1    1    3     1         2         6       1   3   2   4
9       111        1    1    5     1         2         2       1   4   2   4
..      ...      ...  ...  ...   ...       ...       ...     ...  ..  ..  ..
204     703        2    1    3     3         2         5       1   2   4   4
208     707        2    1    3     3         2         5       1   2   4   4
211     710        2    1    5     3         2         3       1   1   4   3
212     801        2    2    3     1         2        16       1   1   3   4
220     809        2    1    4     1         2         2       0   3   4   4

     Q4  Q5  Q6  Loyalty  AGE1  AREA1   avg
0     4   4   5        3     3      1  3.50
2     1   2   3        2     3      1  2.17
4     4   3   4        5     3      1  3.33
8     4   4   5        4     3      1  3.67
9     4   4   4        5     3      1  3.67
..   ..  ..  ..      ...   ...    ...   ...
204   4   4   4        4     3      3  3.67
208   4   4   4        4     3      3  3.67
211   4   4   4        3     3      3  3.33
212   4   4   4        4     3      1  3.33
220   4   3   3        2     3      1  3.50

[78 rows x 18 columns]

In [29]:
# 觀察年齡與結婚與否的關係
# H0 : 年齡與結婚不相關 (兩群的分佈是相似)
# H1 : 年齡與結婚相關
# 信心水準 : 95%
# Pearson's chi-squared test

# 計算已結婚和未結婚的人分類，並計算各年齡層的人數
married_age = np.array([0, 0, 0, 0, 0])
for user in married.userId.unique():
    if married.loc[married["userId"]==user,"age"].values == 1:
        married_age[0] +=1
    elif married.loc[married["userId"]==user,"age"].values == 2:
        married_age[1] +=1
    elif married.loc[married["userId"]==user,"age"].values == 3:
        married_age[2] +=1
    elif married.loc[married["userId"]==user,"age"].values == 4:
        married_age[3] +=1
    elif married.loc[married["userId"]==user,"age"].values == 5:
        married_age[4] +=1
    else:
        print("out of range")
print(married_age)

not_married_age = np.array([0, 0, 0, 0, 0])
for user in not_married.userId.unique():
    if not_married.loc[not_married["userId"]==user,"age"].values == 1:
        not_married_age[0] +=1
    elif not_married.loc[not_married["userId"]==user,"age"].values == 2:
        not_married_age[1] +=1
    elif not_married.loc[not_married["userId"]==user,"age"].values == 3:
        not_married_age[2] +=1
    elif not_married.loc[not_married["userId"]==user,"age"].values == 4:
        not_married_age[3] +=1
    elif not_married.loc[not_married["userId"]==user,"age"].values == 5:
        not_married_age[4] +=1
    else:
        print("out of range")
print(not_married_age)


# T = np.array([
#                 [44,88,6,2,3],
#                 [0,10,40,17,11]
# ])


T = np.arange(10).reshape(2, 5)
T[0]=married_age
T[1]=not_married_age

chi2, p, dof, ex = stats.chi2_contingency(T, correction=False)
print("Chi-Square Test: ",chi2)
print("Dof: ",dof)
print("pvalue is: ",p)
if(p > 0.05):
    print("pvalue > 0.05 沒有在信心水準內，無法拒絕H0，故推論年齡與結婚沒有相關")
else:
    print("pvalue < 0.05 在信心水準內，拒絕H0，故推論年齡與結婚相關")

[44 88  6  2  3]
[ 0 10 40 17 11]
Chi-Square Test:  140.67726805721247
Dof:  4
pvalue is:  2.0213623213902388e-29
pvalue < 0.05 在信心水準內，拒絕H0，故推論年齡與結婚相關